*.lock
AmigoDePapel/bin/Debug/
AmigoDePapel/obj/Debug/
AmigoDePapel/bin/Release/

*Debug.script
*Debug.properti
*.log
*.exe
*.cache
.vs/AmigoDePapel/v15/Server/sqlite3/storage.ide-shm
.vs/AmigoDePapel/v15/.suo
.vs/AmigoDePapel/v15/Server/sqlite3/storage.ide
AmigoDePapel/obj/Debug/AmigoDePapel.pdb
