AmigoDePapel/bin/Debug
AmigoDePapel/obj/Debug
AmigoDePapel/bin/Release
AmigoDePapel/v15
AmigoDePapel/v15/Server
AmigoDepapel/.vs

*.lock
*Debug.script
*Debug.properti
*.log
*.exe
*.suo
*.cache
*.ide
*.ide-wal
*.ide-shm

.vs/AmigoDePapel/v15/.suo
.vs
.suo


.vs/AmigoDePapel/v15/.suo
.vs/AmigoDePapel/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
